<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>Sklep internetowy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style-main.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap">
    </head>
    <body style="font-family: 'Barlow Condensed', sans-serif;">
        <header style="width: 100%;">
            <div class="header-div">
                <div class="header-logo"> 
                    <img class="logo" src="pergoalsLogo.png" alt="logo"/>
                </div>
                <nav class="navbar">
                    <ul class="nav-menu">
                        <li class="nav-item" style="border-bottom-width: 14px;">
                            <a th:href="@{/pergolas}" name="main" class="nav-link" style="border-bottom-style: none;">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/pergolas/products}" name="products" style="visibility: visible;" class="nav-link">Produkty</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-ham">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="header-line"> </div>
        </header>
        <main>
            <div class="under-header"> </div>
            <div class="main-image">
                <div style="display: flex; justify-content: flex-start; align-content: center; min-height: 7; height: 100%;" class="container">
                    <div class="main-image-text" style="font-family: 'Abyssinica SIL', serif;">
                        <p style="color: #ffffff; font-size: 70px; padding-left: 30px;">Styl, Wygoda,</p>
                        <p style="color: #ffffff; font-size: 70px; padding-left: 30px;">
    Jendym słowem Pergole.</p>
                        <h3 style="margin-top: 25px; font-family: 'Barlow Condensed', sans-serif; letter-spacing: 2px; padding-left: 30px;"> Podnieś twój ogród na wyższy poziom: odkryj naszą ekskluzywną kolekcję Pergol! </h3>
                    </div>
                </div>
            </div>
            <div class="about-us">
                <p class="about-us-text" style="padding: 30px;">Nasza firma specjalizuje się w sprzedaży pergoli ogrodowych, które są idealnym rozwiązaniem dla osób ceniących sobie komfort i stylowe wykończenie swojego ogrodu lub tarasu. Oferujemy szeroki wybór pergoli wykonanych z wysokiej jakości materiałów, w różnych rozmiarach i kolorach, aby sprostać wymaganiom naszych klientów. Wszystkie nasze produkty są solidnie wykonane i wytrzymałe na warunki atmosferyczne, dzięki czemu będą służyć przez wiele lat. Zapewniamy również fachowe doradztwo oraz montaż pergoli na życzenie klienta. Nasza firma stawia na zadowolenie klienta i dlatego oferujemy konkurencyjne ceny i wysoką jakość usług.</p>
            </div>
            <p class="best-product-p best-products-text">Najpopularniejsze produkty</p>
            <div class="line"></div>
            <div class="best-products container" style="flex-wrap: wrap;" data-pg-name="best-products">
                <div class="product">
                    <div class="product-img">
                        <div class="pg-empty-placeholder product-img"></div>
                    </div>                     
                    <a th:href="@{'/pergolas/1'}"></a> 
                    <h3>Produkt</h3>
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. asd as dsad asda dasdasdasd asdasds adasdsa asdas asd as asd asd asd as d adsd as das das das das das dsa d as d asd as das d asd as das</p>
                </div>
                <div class="product">
                    <div class="product-img">
                        <div class="pg-empty-placeholder product-img"></div>
                    </div>                     
                    <a th:href="@{'/pergolas/1'}"></a> 
                    <h3>Produkt</h3>
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. asd as dsad asda dasdasdasd asdasds adasdsa asdas asd as asd asd asd as d adsd as das das das das das dsa d as d asd as das d asd as das</p>
                </div>
                <div class="product">
                    <div class="pg-empty-placeholder product-img"></div>
                    <a th:href="@{'/pergolas/1'}"></a> 
                    <h3>Produkt</h3>
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. asd as dsad asda dasdasdasd asdasds adasdsa asdas asd as asd asd asd as d  adsd as das das das das das dsa d as d asd as das d asd as  das</p>
                </div>
            </div>
            <div class="line"></div>
            <div style="background-color: rgba(182, 182, 182, 0.4); background-repeat: no-repeat; background-position: center center; background-size: inherit;" data-pg-name="contact">
                <div style="justify-content: space-evenly; height: 50vw; max-height: 340px;" class="container">
                    <div class="contact" style="border-top-left-radius: 5vw; border-bottom-right-radius: 5vw; display: inherit;">
                        <img src="phone1.png">
                        <div class="content">
                            <h2>Numer kontaktowy</h2>
                            <p>+48 124 124 123</p>
                        </div>
                    </div>
                    <div class="contact" style="border-radius: 3vw;">
                        <img src="mail.png">
                        <div class="content">
                            <h2>Email</h2>
                            <p>info@pergoals.com</p>
                        </div>
                    </div>
                    <div class="contact" style="border-top-right-radius: 5vw; border-bottom-left-radius: 5vw;">
                        <img src="time-left.png">
                        <div class="content">
                            <h2>Godziny otwarcia</h2>
                            <p>Pon - Pt: 9 - 16<br>Sob - 9 - 13<br>Niedz: Nieczynne</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div data-pg-name="photos">
                <div class="container">
                    <div class="photos">
                        <img src="background-main.png">
                        <img src="photo.jpg">
                        <img src="background-main.png">
                    </div>
                    <div class="photos">
                        <img src="background-main.png">
                        <img src="background-main.png">
                        <img src="photo.jpg">
                    </div>
                    <div class="photos">
                        <img src="photo.jpg">
                        <img src="background-main.png">
                        <img src="background-main.png">
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div style="background-color: rgba(255, 180, 60, 0.83); background-repeat: no-repeat; background-position: center center; background-size: inherit;" data-pg-name="fb">
                <div class="container" style="flex-wrap: wrap;">
                    <div class="fb-p" style="margin: 50px auto;">
                        <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&amp;version=v17.0" nonce="vpXC0DH9"></script>
                        <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100093718269830" data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-width="350px" data-height="650px" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/profile.php?id=100093718269830" class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/profile.php?id=100093718269830">Pergoals</a>
                            </blockquote>
                        </div>
                    </div>
                    <div style="max-width: 500px; margin-left: auto; margin-right: auto;" class="fb-text">
                        <p style="margin: 25px; font-family: 'Barlow Condensed', sans-serif; text-align: justify; font-size: 20px;">Zapraszamy na nasz oficjalny Facebook Fanpage, gdzie znajdziesz najnowsze aktualności dotyczące naszych projektów pergol. Na naszym fanpage&apos;u regularnie udostępniamy informacje na temat naszych najnowszych realizacji, inspiracje, porady dotyczące projektowania i budowy pergol oraz wiele więcej.</p>
                        <p style="margin: 25px; font-family: 'Barlow Condensed', sans-serif; text-align: justify; font-size: 20px;">Bądź na bieżąco z naszymi projektami pergol, które obejmują różnorodne style, materiały i innowacyjne rozwiązania. Przez nasz Facebook Fanpage będziesz mógł zobaczyć zdjęcia i opisy naszych najnowszych prac, dowiedzieć się o naszych współpracach i projektach specjalnych oraz znaleźć informacje kontaktowe, jeśli jesteś zainteresowany współpracą z nami.</p>
                        <p style="margin: 25px; font-family: 'Barlow Condensed', sans-serif; text-align: justify; font-size: 20px;">Dołącz do naszej społeczności na Facebooku i bądź pierwszy, który otrzyma informacje o naszych najnowszych projektach pergol. Kliknij &quot;Polub stronę&quot; i nie przegap żadnej aktualności związanej z naszymi wykonanymi projektami pergol. Czekamy na Ciebie na naszym Facebook Fanpage!</p>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div data-pg-name="contact-form">
                <div class="container" style="flex-wrap: wrap; margin-bottom: 40px;">
                    <div style="max-width: 600px; width: 100%; margin-left: auto; margin-right: auto;" class="contact-form-text">
                        <div style="display: flex; padding: 15px;">
                            <p style="margin-left: auto; margin-right: auto; margin-bottom: 30px; text-align: justify; font-family: 'Barlow Condensed', sans-serif; font-size: 17px; display: flex;">Zapraszamy do wysyłania zapytań odnośnie naszych produktów! Jesteśmy tutaj, aby odpowiedzieć na Twoje pytania i zapewnić Ci niezbędne informacje. Nie wahaj się skontaktować z nami poprzez nasz formularz, aby uzyskać szczegółowe informacje na temat naszych produktów. Z przyjemnością pomożemy Ci wybrać odpowiedni produkt dopasowany do Twoich potrzeb. Nie czekaj dłużej - skorzystaj z naszego formularza i otrzymaj profesjonalną pomoc już teraz!</p>
                        </div>
                        <img src="background-main.png" style="margin-right: auto; margin-left: auto; width: 100%;">
                    </div>
                    <form style="margin-left: auto; margin-top: 10px; margin-right: auto;">
                        <div class="form-group">
                            <label for="name">Imię i nazwisko:</label>
                            <br>
                            <input type="text" id="name" name="name" required class="input">
                        </div>
                        <div class="form-group">
                            <label for="email">Adres e-mail:</label>
                            <br>
                            <input type="email" id="email" name="email" required class="input">
                        </div>
                        <div class="form-group">
                            <label for="message">Wiadomość:</label>
                            <br>
                            <textarea id="message" name="message" rows="5" required style="width: 300px; height: 300px; margin-top: 5px; resize: none; margin-bottom: 15px;"></textarea>
                        </div>
                        <button type="submit" class="button">Wyślij zapytanie</button>
                    </form>
                </div>
            </div>
            <div class="line"></div>
        </main>
        <footer>
            <p style="font-family: 'Abyssinica SIL', serif;">© 2023 Pergoals</p>
        </footer>
        <script>
const navham = document.querySelector(".nav-ham");
const navMenu = document.querySelector(".nav-menu");
navham.addEventListener("click", () => {
navham.classList.toggle("active");
    navMenu.classList.toggle("active");
})
                        
document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
    navham.classList.remove("active");
    navMenu.classList.remove("active");
}))
</script>
    </body>
</html>
